:global(.nav-bar-container) {
  width: 220px;
  height: 100%;
  top: 0px;
  position: absolute;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

:global(nav.navBar) {
  box-orient: vertical;
  padding: 24px;
  user-select: none;
  margin: 0;
  letter-spacing: 0.21px;
  font-weight: 200px;
  display: flex;
}

:global(.logo) {
  fill: white;
  width: 25px;
}

:global(.logo:hover) {
  fill: #1ed760;
}

:global(.icon > svg) {
  width: 30px;
}

:global(.navBar-group) {
  background-color: transparent !important;
}

:global(.navBar-expand > ul) {
  background-color: transparent !important;
}

:global(.navBar-item:hover) {
  color: white;
}
