:global(.nav-bar-container) {
  width: 220px;
  top: 0px;
  position: fixed;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
}

:global(nav.navBar) {
  box-orient: vertical;
  padding: 24px;
  user-select: none;
  margin: 0;
  letter-spacing: 0.21px;
  font-weight: 200px;
  display: flex;
}
